src/main/xsd/response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.com/courses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="courseList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="course">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="credits" type="xs:unsignedByte" />
                            <xs:element name="code" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>